.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.auth-container img {
  display: block;        
  width: 300px;            
  margin: 0 auto 20px;     
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color:var(--black);
  font-weight: bold;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-container input {
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #555;
  background: transparent;
  color: #fff;
}

.auth-container input:focus {
  outline: none;
  border-color: #0d6efd;
}

.auth-container .primaryBtn {
  padding: 10px;
  background: var(--primaryClr);
  border: 2px solid #0d6efd;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.login-register-text {
  margin-top: 18px;
  font-size: 15px;
  color: #333;
}

.register-link {
  color: #2a66c5;
  margin-left: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.register-link:hover {
  text-decoration: underline;
}
